/*Reset CSS*/
*{
  margin: 0;
  padding: 0;
  border: 0;
}

/*Default Styles*/
html,
body{
  background-color: dodgerBlue;
  font-family: helvetica;
  font-size: 16px;
}

a{
    text-decoration: none;
    color: #000;
    padding: 1rem;
}
.wrapper{
  background-color: #fff;
  width: 360px;
  height: auto;
  margin: 2rem auto;
  border-radius: 0.75rem;
}

#calendar{
    padding: 2rem 0;
    height: auto;
}

/*Calendar Header Styles*/
.calendar-header{
    display: flex;
    text-align: center;
}

.calendar-month-year{
    flex-basis: 50%;
    font-family: monospace;
}

.calendar-label{
    margin: 0.5rem;
    text-transform: uppercase;
}

.calendar-control{
    flex-basis: 25%;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
}

.calendar-control a:hover{
    background-color: #000;
    color: #fff;
}

/*Calendar Body Head Styles*/
#calendar-body{
    margin: 0.25rem auto;
    text-align: center;
}

#calendar-body-head{
    margin: 0 auto;
}

.dayLabel, .day{
    padding: 0.5rem;
}

.dayLabel{
    text-transform: capitalize;
    background-color: #333;
    color: #eee;
    font-family: monospace;
}

.day{
    border: 1px solid #ddd;
}

.current{
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: bold;
}


