/*Reset Margins, Padding and Borders*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*Default Styles*/
html,
body{
    background-color: cornflowerblue;
    font-family: monospace;
    font-size: 16px;
}

.calendar{
    background-color: #fff;
    width: 320px;
    margin: 1.75rem auto;
    border-radius: 10px;
    padding: 1rem 0.75rem;
}

/*Calendar Header Styles*/
.calendar-header{
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.control-button{
    height: 1.5rem;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

.calendar-label{
    padding: .75rem;
    text-align: center;
}

.label-item{
    width: 2.5rem;
    padding: 0.2rem
}

#month{
    text-transform: uppercase;
}

/*Calendar Body Styles*/
.calendar-body{
    margin: 1rem auto;
    text-align: center;
}

.dayLabel, .day{
    padding: 0.5rem;
}

.dayLabel{
    text-transform: capitalize;
    background-color: #333;
    color: #eee;
}

.day{
    border: 1px solid #ddd;
}

.current{
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: bold;
}







